.root {
  text-align: center;
  background: linear-gradient(
    137.4deg,
    rgba(79, 47, 171, 0) 0.21%,
    #2c309a 93.55%
  );
  display: inline-block;
  background-color: #4f2fab;
  box-shadow: 0px 1px 24px rgba(58, 55, 173, 0.7);
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 1em 4em;
  font-size: 1.125rem;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #31309c;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  &.inline {
    font-size: 1rem;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: none;
  }
  &.full {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
