.root {
  background: var(--black);
  color: #fff;
  position: relative;
  padding: 4rem 2rem 9rem;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    padding: 4rem 1.125rem 8rem;
  }
}

.inner {
  max-width: var(--container-width);
  margin: 0 auto;
}

.copy {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  @media screen and (max-width: 500px) {
    text-align: left;
  }
}

.headline {
  font-size: 2.75rem;
  line-height: 1.2;
  margin: 0 auto;
  color: inherit;
}

.desc {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--sub-text-white);
  margin: 1.5rem auto 2.5rem;
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.125rem;
  font-weight: 900;
  font-style: italic;
  color: var(--gazelle);
  border: 2px solid var(--gazelle);
  padding: 0.875rem 0;
  width: 100%;
  max-width: 15rem;
  transform: skewX(-20deg);
  transition: color 0.1s ease;
  text-align: center;
  @media screen and (max-width: 500px) {
    max-width: calc(100% - 2rem);
  }
  &:after {
    transition: transform 0.1s ease;
    transform: scaleX(0);
    transform-origin: left;
    content: "";
    background: var(--gazelle);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
    &:after {
      transform: scaleX(1);
    }
  }
}

.btnTxt {
  display: block;
  transform: skewX(20deg);
  position: relative;
  z-index: 1;
}

.hr {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 3rem 0;
}

.features {
  display: flex;
  margin: 0 -2rem;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.feature {
  flex: 1;
  padding: 0 2rem;
  &__title {
    color: inherit;
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
    padding-left: 2rem;
    position: relative;
    background-size: 16px 30px;
    background-image: url("/img/gazelle-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &__desc {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--sub-text-white);
  }
  @media screen and (max-width: 768px) {
    & + & {
      margin-top: 2.5rem;
    }
  }
}
