.row {
  display: flex;
  margin: 4rem -1.5rem 2.5rem;
  @media screen and (max-width: 768px) {
    margin: 0 -1rem;
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.cell {
  padding: 0 1.5rem;
  flex: 1;
  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}
