.root {
  padding-top: 0.5rem;
}

.imgWrap {
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    border-width: 3rem;
    border-style: solid;
    @media screen and (max-width: 600px) {
      border-width: 20vw;
    }
  }
  &::after {
    z-index: 1;
    top: -7.5%;
    left: 20%;
    transform: rotate(135deg);
    transform-origin: top left;
    border-color: #fff transparent transparent transparent;
  }
  &::before {
    z-index: 1;
    top: auto;
    left: auto;
    bottom: -7.5%;
    right: 20%;
    transform: rotate(135deg);
    transform-origin: bottom right;
    border-color: transparent transparent #fff transparent;
  }
}

.img {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1.5rem 0 0.75rem;
  line-height: 1.2;
  @media screen and (max-width: 600px) {
    text-align: left;
  }
}

.desc {
  color: var(--sub-text-black);
  font-size: 0.875rem;
}
