.root {
  display: flex;
  margin: 1.5rem 0;

  @media screen and (max-width: 500px) {
    display: block;
  }
}

.input {
  margin-right: 0.5rem;
  flex: 1;

  @media screen and (max-width: 500px) {
    margin-bottom: 0.5rem;
  }

  &.footer {
    color: #fff;
    background: rgba(255, 255, 255, 0.07);
    &::placeholder {
      color: var(--placeholder-white);
    }
  }
}

.button {
  font-weight: normal !important;
  &.footer {
    flex-basis: 3rem;
  }
}
